# This is an implicit value, here for clarity
--index https://pypi.python.org/simple/

requires = [
    "configparser",
    "csv",
    "json",
    "math",
    "os",
    "platform",
    "sqlite3",
    "pickle",
    "time",
    "matplotlib",
    "numpy",
    "pandas",
    "scipy",
    "toga",
    "toga-chart",
    "scikit-learn",
    "cython",
    "xlrd",
    "beautifulsoup4",
    "requests",
    "pyqt5",
    "tensorflow",
    "keras",
    "tqdm",
    "gym",
    "drl",
]
